<h1>  {{ name }} </h1>
<ul>
  <li> age : {{age}}</li>
  <li> e-mail : {{email}}</li>
  <li> {{address.street}} {{address.city}} {{address.state}}</li>
</ul>

<button (click)="toggleEdit()">Edit Toggle</button>

<div *ngIf="isEdit">
    <form>
        <div>
          <label for="name"> Name : </label><br>
          <input type="text" [(ngModel)]="name" name="name">
        </div>
        <div>
          <label for="email"> E-mail : </label><br>
          <input type="text" [(ngModel)]="email" name="email">
        </div>
        <div>
          <label for="age"> Age : </label><br>
          <input type="text" [(ngModel)]="age" name="age">
        </div>
      </form>
</div>


<button (click) = "onClick()">  Edit name </button>

<h1>Hobbies</h1>

<form (submit) = "addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby: </label>
    <input type="text" #hobby>
    <input type="submit" value="New hobby">
  </div>
</form>

<ul>
  <li *ngFor = "let hobby of hobbies; let i = index">{{i+1}} : {{hobby}}
    <button (click)="deleteHobby(index)"> X </button>
  </li>
</ul>
<h2>Posts</h2>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>